.device-card {
  margin: auto;
  border-radius: 2.9rem;
  padding: 2rem;
  background-color: white;
  color: #00098b;
  box-sizing: border-box;
}

.temperature-control,
.mode-switch {
  padding: 0.8rem;
}

.temperature-control button {
  margin-top: 1rem;
  padding: 0.2rem;
  font-size: 1rem;
  border: 0px;
  border-radius: 0rem;
  color: white;
  background-color: #00098b;
}

.temperature-control button:hover {
  color: #ffd4f2;
}

.mode-switch p {
  margin-bottom: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ffd4f2;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00098b;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.device-card #drink-select,
#channel-select,
#make-drink,
#channel-select,
#status-drink-text,
#status-tv-text {
  margin-top: 1rem;
}

#drink-select:hover,
#channel-select:hover {
  cursor: pointer;
}

#make-drink,
#choose-channel {
  background-color: #00098b;
  color: white;
  border: 0px;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

#make-drink:hover,
#choose-channel:hover {
  color: #ffd4f2;
  cursor: pointer;
}
