@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
}

:root {
  scroll-behavior: smooth;
  --dark-blue-color: #00098b;
  --light-pink-color: #ffd4f2;
  --first-gradient-bc: #0600ab;
  --second-gradient-bc: #0033ff;
  --third-gradient-bc: #977dff;
  --dark-color-item-list: rgba(6, 0, 171, 0.3);
  --dark-shadow-item-list: rgba(16, 0, 86, 0.5);
  --light-shadow-item-list: rgba(174, 172, 255, 0.5);
  --light-shadow-item-text: rgba(174, 172, 255, 1);
}

html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: radial-gradient(
    circle at center,
    var(--first-gradient-bc),
    var(--second-gradient-bc),
    var(--third-gradient-bc)
  );
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("../assets/noise.svg");
  background-size: 400px 400px;
  animation: noiseMove 1s infinite linear;
  opacity: 0.4;
  pointer-events: none;
  z-index: 1;
}

@keyframes noiseMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(5px, -5px);
  }
}
