.main__container {
  margin: 1.5rem;
  text-align: center;
  flex: 1;
}

.main__title {
  color: white;
  margin-bottom: 1rem;
}

.room-list {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

.room-list__item {
  background-color: var(--dark-color-item-list);
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
  box-shadow: 0 4px 20px var(--dark-shadow-item-list);
  transition: box-shadow 0.5s ease, text-shadow 0.3s ease;
}

.room-list__item:hover {
  box-shadow: 0 4px 20px var(--light-shadow-item-list);
  text-shadow: 0 0 8px var(--light-shadow-item-text);
}

.room-list__icon {
  width: 2rem;
  height: 2rem;
}

.room-list__name {
  font-size: 1.25rem;
}
